/* ライトボックスで使う文字のclass/*
/* 共通 */ 


@media (max-width: 1100px) {
    :root {
        /* --cont: 100%; */
        --cont: calc(100vw - 60px);
        --font-size-xsmall: calc(20 / 750 * 100vw);
        --font-size-small: calc(26 / 750 * 100vw);
        --font-size-normal: calc(32 / 750 * 100vw);
        --font-size-large: calc(36 / 750 * 100vw);
    }
}
.title{
font-weight: bold;
color: #F0F0F0;
}
.text{
font-size: 1.1em;
color: #F0F0F0;
}
.text_side{
margin-bottom: 2.5em;
}
.map-marker a{
font-size: 20px;
color: #000000;
text-decoration: none;
}
.map-marker.capital >a{
font-size: 22px;
color: #a11b1b;
text-decoration: none;
font-family: Austin News, georgia, times, serif;
}
/* h1、h2、h3のスタイル（h1） */
/* 共通 */

.editorcss h2::before{
position: absolute;
top: 0;
left: 0;
background: linear-gradient(#012169, #C8102E);
}
.editorcss h3{
margin-bottom: 20px;
font-family: Austin News, georgia, times, serif;
font-size: 1.3em;
}
.city_title{
margin-bottom: 20px;
font-family: Austin News, georgia, times, serif;
font-size: 1.3em;
}
.editorcss h5{
font-size: 1.5em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}
.text_font p{
font-family: Austin News, georgia, times, serif;
font-size: 1.1em;
}

.text_side .text_font p{
font-family: Austin News, georgia, times, serif;
font-size: 1.1em;
}
.caption_index{
height: 85px !important; /* 高さを統一 */
}
.caption, 
.caption_index{
height: 51.6px; /* 高さを統一 */
align-items: center; /* 垂直中央揃え */
justify-content: center; /* 水平中央揃え（必要なら） */
overflow: hidden;
font-weight: bold;
padding: 15px;
background-color: #fff;
font-family: Austin News, georgia, times, serif;
}
.caption_cc {
height: 90px;
align-items: center;
justify-content: center;
overflow: hidden;
font-weight: bold;
padding: 15px;
background-color: #fff;
font-family: Austin News, georgia, times, serif;
}

.caption.white p,
.caption_index.white p,
.caption_cc p{
font-family: Austin News, georgia, times, serif;
font-size: 14px;
letter-spacing: 0.8px;
font-weight: bold;
color: #000;
padding-left: 5px;
}
.caption >.credit,
.caption_index >.credit,
.caption_cc >.credit{
font-family: "Font Awesome 5";
font-size: 0.9em;
}
.pin > i{
padding-right: 7px;
}
.credit > i{
padding-right: 7px;
}
.map_pin::before{ 
content: '\f276';
}


/* スマホ専用（767px） */
@media screen and (max-width: 767px) {
h1 {
font-size: 22px;
font-weight: 600;
font-family: Austin News, georgia, times, serif;
}
.read_2{
color: #000;
font-size: 1.1em;
font-family: Austin News, georgia, times, serif;
}
}
/* パソコンPC専用 */
@media (min-width: 768px) and (max-width: 1100px) {
h1{
font-size: 25px;
font-weight: 600;
font-family: Austin News,georgia,times,serif;
}
.text_font{
line-height: 1.4;
}
.read_2{
color: #000;
font-size: 18px;
text-align: center;
font-family: Austin News, georgia, times, serif;
}
}


/* パソコンPC専用 */
@media screen and (min-width: 1101px) {
.Top_image .read_1{
font-size: clamp(30px, 5vw, 48px);
color: #fff;
font-style: italic;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: center;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
.Top_image .read_2{
font-size: clamp(30px, 10vw, 36px);
color: #fff;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: center;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
h1{
font-size: 25px;
font-weight: 600;
font-family: Austin News,georgia,times,serif;
}
.common_main h2{
font-size: 3em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}
.editorcss h2{
font-size: 2.5em;
margin-bottom: 20px;
position: relative;
line-height: 1.8;
padding-left: 30px;
font-family: Austin News,georgia,times,serif;
}
.common_main h2::before{
content: '';
height: 100%;
width: 6px;
}
.read_2{
color: #000;
font-size: 18px;
text-align: center;
font-family: Austin News, georgia, times, serif;
}
}
/* スマホSP専用（1）1100px以下 */
@media screen and (max-width: 1100px) {
.Top_image .read_1{
font-size: clamp(22px, 6vw, 40px);
color: #fff;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: left;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
.Top_image .read_2{
font-size: clamp(18px, 5vw, 32px);
color: #fff;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: left;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
h1{
font-size: 25px;
font-weight: 600;
font-family: Austin News,georgia,times,serif;
}
.editorcss h2::before{
content: '';
height: 100%;
width: 6px;
}
.editorcss h2{
font-size: 2em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 25px;
font-family: Austin News,georgia,times,serif;
}
.Read{
font-size: 15px;
padding-top: 1em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.common_main h2{
font-size: 2em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}
}